@import "tailwindcss";

@font-face {
  font-family: "CHORUS";
  src: url("./assets//fonts//CHORUS-BLACK.otf");
}

@font-face {
  font-family: "LeagueGothic-Regular";
  src: url('./assets//fonts/LeagueGothic-Regular.woff');
}

@font-face {
  font-family: "Bithea";
  src: url("./Bithea.otf");
}

@font-face {
  font-family: "monig";
  src: url('./delago.otf');
}

@font-face {
  font-family: "neue";
  src: url("./neue.otf");
}

*{
font-family: 'Satoshi', sans-serif;
}

.grotesq{
  font-family: 'Clash Grotesk', sans-serif;

}
.sat{
font-family: 'Satoshi', sans-serif;

}

.goth{
    font-family: 'Bebas Neue', sans-serif;



}

